@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  outline: transparent;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: transparent;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #505050;
  background-color: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 440px) {
  .container {
    padding: 0 10px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  overflow: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 40px;
  color: #663333;
  border-radius: 2px;
  border: 1px solid #663333;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn:hover {
  color: #fff;
  background-color: #663333;
}

.btn--white {
  color: #fff;
  border: 1px solid #fff;
}

.btn--white:hover {
  color: #1c1c1c;
  background-color: #fff;
}

.btn--green {
  color: #518a32;
  border: 1px solid #518a32;
}

.btn--green:hover {
  color: #fff;
  background-color: #518a32;
}

.title {
  position: relative;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  color: #252525;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .title {
    font-size: 26px;
  }
}

.title::after {
  position: absolute;
  content: '';
  width: 80px;
  height: 3px;
  left: 0;
  bottom: -29px;
  background-color: #d12c2c;
}

@media (max-width: 660px) {
  .title::after {
    bottom: -19px;
  }
}

.menu-burger {
  display: none;
  position: absolute;
  width: 32px;
  height: 30px;
  top: -54px;
  right: 25px;
  z-index: 2;
}

.menu-burger--active span:first-child {
  -webkit-transform: rotate(-45deg) translateY(11px);
      -ms-transform: rotate(-45deg) translateY(11px);
          transform: rotate(-45deg) translateY(11px);
}

.menu-burger--active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translateY(-11px);
      -ms-transform: rotate(45deg) translateY(-11px);
          transform: rotate(45deg) translateY(-11px);
}

.menu-burger--active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-burger span {
  display: block;
  width: 32px;
  height: 3px;
  margin: 5px 0;
  background-color: #663333;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 850px) {
  .menu-burger {
    display: block;
  }
}

@media (max-width: 600px) {
  .menu-burger {
    right: 15px;
  }
}

@media (max-width: 500px) {
  .menu-burger {
    top: -80px;
  }
}

.arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 23px;
  width: 0;
  height: 0;
  border-top: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

@media (max-width: 850px) {
  .arrow {
    left: 170px;
    top: 25px;
  }
}

.arrow--active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.breadcrumbs {
  margin: 25px 0 41px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  padding: 0 15px;
  color: #663333;
}

@media (max-width: 640px) {
  .breadcrumbs__item {
    padding: 0 10px;
  }
}

.breadcrumbs__item::before {
  position: absolute;
  content: '>';
  left: -3px;
}

.breadcrumbs__item:first-child {
  padding-left: 0;
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
  color: #000;
}

.breadcrumbs__link {
  color: inherit;
}

body.touch .submenu {
  padding-right: 38px;
}

@media (max-width: 850px) {
  body.touch .submenu {
    padding-right: 0;
  }
}

body.touch .header__nav-link--popup {
  padding-right: 0;
}

body.touch .header__nav-link--popup::after {
  display: none;
}

body.mouse .submenu:hover .submenu__list {
  display: block;
}

body.mouse .arrow {
  display: none;
}

.header__top-wrapper {
  position: relative;
  margin-bottom: 10px;
}

@media (max-width: 850px) {
  .header__top-wrapper {
    margin-bottom: 0;
  }
}

.header__top-wrapper::before {
  position: absolute;
  content: '';
  width: 45.5%;
  height: 130px;
  left: -70px;
  background-color: #e6e6e6;
  -webkit-transform: skew(-36deg);
      -ms-transform: skew(-36deg);
          transform: skew(-36deg);
  z-index: -1;
}

@media (max-width: 1700px) {
  .header__top-wrapper::before {
    width: 43%;
  }
}

@media (max-width: 1300px) {
  .header__top-wrapper::before {
    width: 41%;
  }
}

@media (max-width: 900px) {
  .header__top-wrapper::before {
    width: 45%;
  }
}

@media (max-width: 850px) {
  .header__top-wrapper::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__top-wrapper .container {
    padding: 0 5px;
  }
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  .header__top-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
  }
}

.header__logo {
  margin-top: 20px;
}

@media (max-width: 850px) {
  .header__logo {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .header__logo {
    min-width: 250px;
    margin-top: 5px;
  }
}

@media (max-width: 850px) {
  .header__logo-img {
    height: 70px;
  }
}

@media (max-width: 600px) {
  .header__logo-img {
    height: 60px;
  }
}

@media (max-width: 500px) {
  .header__logo-img {
    height: 50px;
  }
}

.header__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 39px;
}

@media (max-width: 850px) {
  .header__contact-list {
    margin: 0 100px 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .header__contact-list {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .header__contact-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 5px 20px;
  }
}

@media (max-width: 500px) {
  .header__contact-item:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 10px;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.header__contact-item + .header__contact-item {
  margin-left: 30px;
}

@media (max-width: 970px) {
  .header__contact-item + .header__contact-item {
    margin-left: 15px;
  }
}

@media (max-width: 900px) {
  .header__contact-item + .header__contact-item {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .header__contact-item + .header__contact-item {
    margin-left: 5px;
  }
}

.header__contact-link {
  position: relative;
  padding-left: 38px;
  font-size: 16px;
  font-weight: 700;
}

.header__contact-link:hover::before {
  left: 5px;
}

@media (max-width: 970px) {
  .header__contact-link {
    padding-left: 30px;
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .header__contact-link {
    font-size: 0;
  }
}

.header__contact-link::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 850px) {
  .header__contact-link::before {
    top: -13px;
  }
}

.header__contact-link--mail::before {
  top: 1px;
  background-image: url("../img/svg/mail.svg");
}

@media (max-width: 850px) {
  .header__contact-link--mail::before {
    top: -10px;
  }
}

.header__contact-btn {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

@media (max-width: 850px) {
  .header__contact-btn {
    width: 110px;
    height: 26px;
  }
}

.header__bottom-wrapper {
  position: relative;
}

.header__bottom-wrapper::after {
  position: absolute;
  content: '';
  width: 59%;
  right: 0;
  top: 0;
  border-bottom: 50px solid #663333;
  border-left: 36px solid transparent;
  z-index: -1;
}

@media (max-width: 1700px) {
  .header__bottom-wrapper::after {
    width: 61%;
  }
}

@media (max-width: 1500px) {
  .header__bottom-wrapper::after {
    width: 63.5%;
  }
}

@media (max-width: 1300px) {
  .header__bottom-wrapper::after {
    width: 65.5%;
  }
}

@media (max-width: 1100px) {
  .header__bottom-wrapper::after {
    width: 68.5%;
  }
}

@media (max-width: 850px) {
  .header__bottom-wrapper::after {
    display: none;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 8px;
}

@media (max-width: 850px) {
  .header__nav-list {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    padding: 30px 0 0 30px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgba(102, 51, 51, 0.97);
    z-index: 20;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
  }
}

@media (max-width: 600px) {
  .header__nav-list {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .header__nav-list {
    padding: 10px 0 0 10px;
  }
}

@media (max-width: 850px) {
  .header__nav-list--active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.header__nav-item {
  position: relative;
  padding: 0 30px;
}

@media (max-width: 970px) {
  .header__nav-item {
    padding: 0 25px;
  }
}

@media (max-width: 900px) {
  .header__nav-item {
    padding: 0 20px;
  }
}

@media (max-width: 850px) {
  .header__nav-item {
    padding: 0;
  }
}

.header__nav-item::before {
  position: absolute;
  content: '';
  height: 24px;
  width: 1px;
  left: 0;
  top: 13px;
  background-color: #4e2020;
}

@media (max-width: 850px) {
  .header__nav-item::before {
    display: none;
  }
}

.header__nav-item:first-child {
  padding-left: 0;
}

.header__nav-item:first-child::before {
  display: none;
}

.header__nav-item:last-child {
  padding-right: 0;
}

.header__nav-link {
  position: relative;
  padding: 16px 0;
  color: #fff;
}

@media (max-width: 850px) {
  .header__nav-link {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.header__nav-link::before {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #d12c2c;
}

@media (max-width: 850px) {
  .header__nav-link::before {
    display: none;
  }
}

.header__nav-link:hover::before {
  width: 100%;
}

.header__nav-link--popup {
  padding-right: 18px;
}

@media (max-width: 850px) {
  .header__nav-link--popup {
    padding-right: 0;
  }
}

.header__nav-link--popup::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 5px;
  right: 0;
  top: 24px;
  background-image: url("../img/svg/drop_menu_icon.svg");
}

@media (max-width: 850px) {
  .header__nav-link--popup::after {
    right: -20px;
  }
}

.submenu__list {
  display: none;
  position: absolute;
  left: 0;
  padding: 20px 30px;
  background-color: #fff;
  z-index: 5;
}

.submenu__list--open {
  display: block;
  margin-left: -30px;
}

@media (max-width: 970px) {
  .submenu__list {
    padding: 10px 20px;
  }
}

@media (max-width: 900px) {
  .submenu__list {
    padding: 5px 15px;
  }
}

@media (max-width: 850px) {
  .submenu__list {
    position: relative;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .submenu__list {
    padding: 10px;
  }
}

.submenu__list--left {
  left: -29px;
}

@media (max-width: 850px) {
  .submenu__list--left {
    left: 0;
  }
}

.submenu__link {
  position: relative;
  padding-left: 21px;
  line-height: 30px;
  white-space: nowrap;
  color: #1c1c1c;
}

@media (max-width: 850px) {
  .submenu__link {
    display: block;
    color: #fff;
    padding: 5px 0 5px 21px;
  }
}

@media (max-width: 360px) {
  .submenu__link {
    font-size: 14px;
    padding-left: 16px;
  }
}

.submenu__link:hover::before {
  left: 5px;
}

.submenu__link::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 10px;
  left: 0;
  top: 10px;
  background-image: url("../img/svg/arrow.svg");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 850px) {
  .submenu__link::before {
    top: 16px;
  }
}

.hero-banner {
  position: relative;
  margin-bottom: 70px;
}

.hero-banner::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 37%;
  border-bottom: 25px solid #fff;
  border-left: 25px solid transparent;
  z-index: 10;
}

.hero-banner__slider {
  background-color: #000;
}

.hero-banner__slider .slick-slide > div {
  height: 500px;
}

@media (max-width: 850px) {
  .hero-banner__slider .slick-slide > div {
    height: 350px;
  }
}

.hero-banner__img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  opacity: 0.7;
}

@media (max-width: 850px) {
  .hero-banner__img {
    height: 350px;
  }
}

.hero-banner__info {
  position: relative;
}

.hero-banner__text {
  position: absolute;
  top: -173px;
  right: 15px;
  max-width: 379px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 44px;
  text-transform: uppercase;
  z-index: 5;
}

@media (max-width: 850px) {
  .hero-banner__text {
    font-size: 22px;
    line-height: 30px;
    max-width: 300px;
    top: -130px;
  }
}

@media (max-width: 400px) {
  .hero-banner__text {
    max-width: 280px;
  }
}

.services {
  margin-bottom: 83px;
}

@media (max-width: 640px) {
  .services {
    margin-bottom: 70px;
  }
}

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .services__top {
    display: block;
  }
}

.services__title {
  margin-top: 35px;
}

.services__main-item {
  position: relative;
  max-width: 620px;
  margin-left: auto;
}

@media (max-width: 640px) {
  .services__main-item {
    max-width: 460px;
    margin: 30px auto;
  }
}

.services__main-item-img {
  position: relative;
  z-index: -1;
}

.services__main-item-title {
  position: absolute;
  bottom: 67px;
  left: 0;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #fffefe;
}

@media (max-width: 450px) {
  .services__main-item-title {
    bottom: 20px;
  }
}

.services__main-item-title::after {
  position: absolute;
  content: '';
  width: 360px;
  top: -10px;
  left: 0;
  border-top: 40px solid #518a32;
  border-right: 30px solid transparent;
  z-index: -1;
}

@media (max-width: 640px) {
  .services__main-item-title::after {
    width: 240px;
    top: -5px;
    border-top: 30px solid #518a32;
    border-right: 22px solid transparent;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px 87px -10px;
}

@media (max-width: 640px) {
  .services__list {
    display: block;
    margin: 0 0 50px 0;
  }
}

.services__item {
  width: calc(33.3334% - 20px);
  margin: 0 10px;
}

@media (max-width: 640px) {
  .services__item {
    width: 300px;
    margin: 0 auto 30px;
  }
}

.services__item-title {
  position: relative;
  margin-top: 3px;
  padding-left: 20px;
  color: #fffefe;
  font-size: 13px;
  font-weight: 400;
}

.services__item-title::before {
  position: absolute;
  content: '';
  width: 210px;
  top: -3px;
  left: 0;
  border-top: 25px solid #518a32;
  border-right: 18px solid transparent;
  z-index: -1;
}

@media (max-width: 700px) {
  .services__item-title::before {
    width: 190px;
  }
}

.services__text {
  line-height: 24px;
}

@media (max-width: 600px) {
  .services__text {
    font-size: 14px;
  }
}

.advantages {
  position: relative;
  padding: 85px 0 87px;
  background-color: #663333;
  color: #fff;
}

@media (max-width: 640px) {
  .advantages {
    padding: 70px 0 40px;
  }
}

.advantages::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 41%;
  border-top: 25px solid #fff;
  border-right: 18px solid transparent;
  z-index: 10;
}

.advantages::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 41%;
  border-bottom: 25px solid #e6e6e6;
  border-left: 18px solid transparent;
  z-index: 10;
}

.advantages__title {
  margin-bottom: 80px;
  color: #fff;
}

@media (max-width: 640px) {
  .advantages__title {
    margin-bottom: 60px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__item {
  text-align: center;
  max-width: 221px;
  width: 100%;
}

@media (max-width: 850px) {
  .advantages__item {
    max-width: 50%;
    width: 400px;
    padding: 10px 20px;
  }
}

@media (max-width: 450px) {
  .advantages__item {
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}

.advantages__img {
  margin: 0 auto 28px;
}

.advantages__item-title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.advantages__item-descr {
  max-width: 214px;
  line-height: 22px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .advantages__item-descr {
    max-width: 100%;
  }
}

.organization {
  background-color: #e6e6e6;
  padding: 85px 0 87px;
}

@media (max-width: 640px) {
  .organization {
    padding: 60px 0 30px;
  }
}

.organization__title {
  margin-bottom: 80px;
}

@media (max-width: 640px) {
  .organization__title {
    margin-bottom: 60px;
  }
}

.organization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 970px) {
  .organization__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.organization__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  min-height: 122px;
  text-align: center;
}

@media (max-width: 970px) {
  .organization__item {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 470px) {
  .organization__item {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .organization__item:nth-child(2)::after {
    display: none;
  }
}

.organization__item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 10px;
  right: -20px;
  top: 18.5%;
  background-image: url("../img/svg/arrow-orgnization.svg");
}

@media (max-width: 970px) {
  .organization__item:not(:last-child)::after {
    right: -10px;
  }
}

@media (max-width: 470px) {
  .organization__item:not(:last-child)::after {
    display: none;
  }
}

.organization__item picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 60px;
}

.organization__item-img {
  margin: 0 auto;
}

.organization__item-title {
  margin: 28px 0 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.organization__item-link {
  display: inline-block;
  color: #518a32;
  text-decoration: underline;
}

.organization__item-link:hover {
  text-decoration: none;
}

.organization__item-descr {
  line-height: 20px;
  line-height: 22px;
}

@media (max-width: 970px) {
  .organization__item-descr {
    max-width: 280px;
    margin: 0 auto;
  }
}

.cars {
  padding: 85px 0 40px;
}

@media (max-width: 640px) {
  .cars {
    padding: 60px 0 20px;
  }
}

.cars__title {
  margin-bottom: 79px;
}

@media (max-width: 640px) {
  .cars__title {
    margin-bottom: 60px;
  }
}

.cars__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .cars__list {
    margin: 0;
  }
}

.cars__item {
  margin: 0 10px 50px 10px;
  width: calc(50% - 20px);
}

@media (max-width: 600px) {
  .cars__item {
    width: 100%;
  }
}

.cars__item-text {
  position: relative;
  line-height: 25px;
  color: #fefefe;
}

.cars__item-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 357px;
  border-top: 25px solid #663333;
  border-right: 18px solid transparent;
  z-index: -1;
}

@media (max-width: 770px) {
  .cars__item-text::before {
    width: 280px;
  }
}

.cars__item-text::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 118px;
  border-top: 25px solid #d12c2c;
  border-right: 18px solid transparent;
  z-index: -1;
}

@media (max-width: 770px) {
  .cars__item-text::after {
    width: 82px;
  }
}

.cars__item-weight {
  padding: 0 30px 0 20px;
}

@media (max-width: 770px) {
  .cars__item-weight {
    padding: 0 10px 0 7px;
  }
}

.cars__item-car {
  padding-left: 30px;
}

@media (max-width: 770px) {
  .cars__item-car {
    padding-left: 10px;
  }
}

.footer {
  padding: 35px 0 39px;
  color: #fff;
  background-color: #1c1c1c;
}

@media (max-width: 650px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

@media (max-width: 650px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .footer__top {
    display: block;
    margin-left: 10px;
  }
}

.footer__address {
  max-width: 340px;
  margin-right: 60px;
  line-height: 22px;
}

@media (max-width: 835px) {
  .footer__address {
    max-width: 280px;
    margin-right: 30px;
  }
}

@media (max-width: 650px) {
  .footer__address {
    max-width: 50%;
    margin-right: 0;
    min-width: 200px;
  }
}

@media (max-width: 420px) {
  .footer__address {
    max-width: 100%;
  }
}

.footer__contacts {
  margin-right: 10px;
  line-height: 22px;
}

@media (max-width: 650px) {
  .footer__contacts {
    max-width: 50%;
    margin-right: 0;
    padding-left: 20px;
    min-width: 200px;
  }
}

@media (max-width: 420px) {
  .footer__contacts {
    max-width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
}

.footer__contact-text {
  line-height: 20px;
}

.footer__contact-link {
  display: inline-block;
}

.footer__contact-link:hover {
  text-decoration: underline;
}

.footer__btn {
  margin-left: auto;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 650px) {
  .footer__btn {
    margin: 10px 0 0 0;
  }
}

.footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
  color: #616161;
}

.footer__bottom::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 0;
  background-color: #616161;
}

.footer__dev-link {
  display: inline-block;
  text-decoration: underline;
}

.footer__dev-link:hover {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .modal__wrapper {
    max-width: 300px;
    width: 300px;
  }
}

.modal__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 40px;
}

.modal__top::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 289px;
  border-top: 40px solid #663333;
  border-right: 30px solid transparent;
  z-index: -1;
}

@media (max-width: 800px) {
  .modal__top::before {
    width: 205px;
  }
}

.modal__text {
  padding-left: 80px;
  color: #fffefe;
}

@media (max-width: 800px) {
  .modal__text {
    padding-left: 30px;
  }
}

.modal__btn-close {
  position: relative;
  padding-right: 26px;
  margin-right: 15px;
  color: #663333;
}

.modal__btn-close:hover {
  text-shadow: 0 0 0.1px;
}

.modal__btn-close::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 13px;
  right: 0;
  background-image: url("../img/svg/close.svg");
}

.modal__form {
  padding: 50px 80px;
}

@media (max-width: 800px) {
  .modal__form {
    padding: 20px 30px;
  }
}

.modal__form-label {
  display: block;
  color: #393939;
  margin-bottom: 7px;
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
  background-color: #e6e6e6;
  border: none;
}

.modal__form-check:checked + .modal__label-check::before {
  background-image: url("../img/svg/check_icon.svg");
  background-repeat: no-repeat;
  background-position: 4px center;
}

.modal__label-check {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  padding-left: 38px;
}

.modal__label-check::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 0;
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal__form-textarea {
  width: 100%;
  min-height: 80px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #e6e6e6;
  border: none;
  resize: none;
}

.modal__form-btn {
  margin: 0 auto;
}

.modal--active {
  display: block;
}

.price {
  padding-bottom: 90px;
}

@media (max-width: 600px) {
  .price {
    padding-bottom: 30px;
  }
}

.price__title {
  margin-bottom: 79px;
}

@media (max-width: 640px) {
  .price__title {
    margin-bottom: 60px;
  }
}

.price__tab-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin-bottom: 43px;
  background-color: #663333;
}

@media (max-width: 550px) {
  .price__tab-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price__tab-list::after {
    display: none;
  }
}

.price__tab-list::after {
  position: absolute;
  content: '';
  right: 0;
  border-bottom: 40px solid #fff;
  border-left: 28px solid transparent;
}

@media (max-width: 730px) {
  .price__tab-list {
    max-width: 600px;
  }
}

.price__tab-item {
  width: 140px;
}

@media (max-width: 730px) {
  .price__tab-item {
    width: 120px;
  }
}

@media (max-width: 550px) {
  .price__tab-item {
    width: 33.3334%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: 2px solid #fff;
  }
}

.price__tab-link {
  display: block;
  position: relative;
  padding-left: 20px;
  line-height: 40px;
  color: #fffefe;
}

.price__tab-link::after {
  position: absolute;
  content: '';
  right: 0;
  border-bottom: 40px solid #663333;
  border-left: 28px solid transparent;
}

@media (max-width: 550px) {
  .price__tab-link::after {
    display: none;
  }
}

@media (max-width: 730px) {
  .price__tab-link {
    padding-left: 15px;
  }
}

.price__tab-link--active {
  background-color: #d12c2c;
}

.price__btn {
  margin-top: 50px;
  margin-left: 51%;
}

@media (max-width: 914px) {
  .price__btn {
    margin-left: 0;
  }
}

.price-item {
  display: none;
  line-height: 24px;
}

.price-item--active {
  display: block;
}

.price-item__text {
  margin-bottom: 32px;
}

.price-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .price-item__info {
    display: block;
  }
}

.price-item__info-img {
  margin-top: 14px;
}

@media (max-width: 600px) {
  .price-item__info-img {
    margin: 0 auto;
  }
}

.price-item__info-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 460px;
  width: 100%;
  margin-left: 15px;
  background-color: #e6e6e6;
}

@media (max-width: 800px) {
  .price-item__info-text {
    max-width: 315px;
  }
}

@media (max-width: 600px) {
  .price-item__info-text {
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.price-item__info-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-top: 25px solid #fff;
  border-right: 18px solid transparent;
}

.price-item__info-text::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-bottom: 25px solid #fff;
  border-left: 18px solid transparent;
}

.price-item__brands {
  width: 50%;
  padding: 5px 20px 25px 30px;
}

@media (max-width: 860px) {
  .price-item__brands {
    padding: 0 10px 10px 15px;
  }
}

.price-item__text-title {
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .price-item__text-title {
    margin: 10px 0 5px 0;
  }
}

@media (max-width: 360px) {
  .price-item__text-title {
    font-size: 14px;
  }
}

.price-item__brands-list {
  list-style: "− ";
  margin-left: 11px;
}

.price-item__main-info {
  padding: 5px 20px 25px 25px;
}

@media (max-width: 860px) {
  .price-item__main-info {
    padding: 0px 5px 10px 10px;
  }
}
